{% extends 'chat/base.html' %}


{% block title %}Dashboard | RTC{% endblock %}

{% block content %}
<section class="container mt-5 justify-content-center d-flex align-items-center">
<div style="width: 70%;">
<table class="table table-hover ">
    <thead class="table-light">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Chat</th>
        </tr>
    </thead>

    {% for user in users %}
    <tbody>
        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{user.first_name}} {{user.last_name}}</td>
            <td>{{user.email}}</td>
            <td><a type="submit" href="{% url 'chatroom' user.id %}"><i class="fa-solid fa-message"></i></a></td>
        </tr>

    </tbody>
    {% endfor %}
</table>
</div>
</section>
{% endblock %}